@font-face {
  font-family: 'Galgo' ;
  src: url(./font/Galgo.otf);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: Galgo, sans-serif;
}

body{
  // background: #F5F5DC;
  // background: #c6d0db;
  display: grid;
  place-content: center;
  align-items: center;
  height: 100vh;
}

main{
  box-shadow: 0 0 11px 0px black;
}

h1{
  font-size: 10em;
}
h2{
  font-size: 5em;
}

button{
  width: 4rem;
  font-size: 36px;
  margin: 5px 0;
  cursor: pointer;
}
.selected{
  color: red;
}
.globalContainer{
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 5rem;
  border-radius: 20px;

  .imgContainer{
    height: auto;
    width: 400px;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.price{
  font-size: 42px;
}
.add2cart{
  width: 10rem;
}