@font-face {
  font-family: 'Galgo' ;
  src: url(./font/Galgo.otf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: grid;
  place-content: center;
  align-items: center;
  height: 100vh;
  background: #faf6fe;
}
